In [41]:
import pandas as pd 
import numpy as np

data = pd.read_csv('houses_to_rent_v2.csv')
data.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7.0,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20.0,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6.0,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2.0,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1.0,not acept,not furnished,0,800,25,11,836

In [42]:
#Filling missing values in the floor column
data.floor = data.floor.fillna(5)
data.isnull().sum()

city                   0
area                   0
rooms                  0
bathroom               0
parking spaces         0
floor                  0
animal                 0
furniture              0
hoa (R$)               0
rent amount (R$)       0
property tax (R$)      0
fire insurance (R$)    0
total (R$)             0
dtype: int64

In [43]:
#Encoding categorical variables
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
animal_encoder = LabelEncoder()
data.iloc[:, 6] = animal_encoder.fit_transform(data.iloc[:, 6])

furniture_encoder = LabelEncoder()
data.furniture = furniture_encoder.fit_transform(data.furniture)

data = data.drop('city', 1)

In [45]:
#splitting to dependant and independant varibles
x = data.iloc[:, 0:-1]
y = data.iloc[:, -1]

In [48]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

scaler = StandardScaler()
x = scaler.fit_transform(x)

X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.25)

In [52]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

ann = Sequential()

ann.add(11, activation='relu')
ann.add(15, activation='relu')
ann.add(9, activation='relu')
ann.add(Dense())