In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('Salary.csv')

In [5]:
data.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [7]:
x = data.iloc[:, 0:1]
y = data.iloc[:, -1].values

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [23]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression(n_jobs=2, normalize=True)
reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=2, normalize=True)

In [24]:
score = reg.score(x_test, y_test)

In [25]:
score

0.9435803860858617