In [51]:
import pandas as pd
import numpy as np
import string

data = pd.read_csv('data/history.csv')
data.head()

,Fiscal Year,Average Participation,Average Benefit Per Person,Total Benefits(M),Other Costs,Total Costs(M)
0,1969,"2,878",6.63,228.80,21.70,250.50
1,1970,"4,340",10.55,549.70,27.20,576.90
2,1971,"9,368",13.55,"1,522.70",53.20,"1,575.90"
3,1972,"11,109",13.48,"1,797.30",69.40,"1,866.70"
4,1973,"12,166",14.60,"2,131.40",76.00,"2,207.40"

In [52]:
data.describe()

       Average Benefit Per Person
count                   51.000000
mean                    69.163725
std                     39.653545
min                      6.630000
25%                     39.330000
50%                     69.000000
75%                     95.465000
max                    133.850000

In [53]:
data.isna().sum()

Fiscal Year                   0
Average Participation         0
Average Benefit Per Person    0
Total Benefits(M)             0
Other Costs                   0
Total Costs(M)                0
dtype: int64

In [54]:
data.info(b)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Fiscal Year                 51 non-null     object
 1   Average Participation       51 non-null     object
 2   Average Benefit Per Person  51 non-null     float64
 3   Total Benefits(M)           51 non-null     object
 4   Other Costs                 51 non-null     object
 5   Total Costs(M)              51 non-null     object
dtypes: float64(1), object(5)
memory usage: 2.5+ KB

In [64]:
data['Average Participation'] = data['Average Participation'].str.replace('[^\w\s] ','')
data['Fiscal Year'] = data['Fiscal Year'].str.replace('[^\w\s] ', '')
data['Total Benefits(M)'] = data['Total Benefits(M)'].str.replace('[^\w\s] ', '')
data['Other Costs'] = data['Other Costs'].str.replace('[^\w\s] ', '')

pandas.core.series.Series