In [85]:
import pandas as pd
import numpy as np

In [86]:
#data = pd.read_csv('Melbourne_housing_FULL.csv')
data = pd.read_csv('Melbourne_housing_FULL.csv')

In [87]:
data = data.select_dtypes(exclude= (['object']))
data.head()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
0,2,NaN,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,-37.8014,144.9958,4019.0
1,2,1480000.0,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,-37.7996,144.9984,4019.0
2,2,1035000.0,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,-37.8079,144.9934,4019.0
3,3,NaN,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,-37.8114,145.0116,4019.0
4,3,1465000.0,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,-37.8093,144.9944,4019.0

In [88]:
data = data.drop(['Postcode', 'Lattitude', 'Longtitude', 'Propertycount'], 1)
col = data.columns

In [75]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
result = cross_val_score(LinearRegression(), x, y, cv=5)

In [76]:
result

array([0.30380607, 0.29310008, 0.27674325, 0.18453342, 0.29476416])

In [78]:
result.mean()

0.2705893970446679