In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('insurance/insurance.csv')

In [2]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [3]:
data = pd.get_dummies(data, drop_first=True)

In [4]:
data.head()

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,0,1,0,0,1
1,18,33.770,1,1725.55230,1,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,1,0
3,33,22.705,0,21984.47061,1,0,1,0,0
4,32,28.880,0,3866.85520,1,0,1,0,0

In [9]:
#split to dependant and independant variables
x = data.drop('charges', 1).values
y = data.charges.values
x.shape

(1338, 8)

In [10]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
scaler = MinMaxScaler((1,500))
x = scaler.fit_transform(x)

In [11]:
from sklearn.model_selection import  cross_val_score
from sklearn.linear_model import LinearRegression

score = cross_val_score(LinearRegression(True, True), x,y, cv=10)
score

C:\Users\s4lms\Anaconda3\envs\nova\lib\site-packages\sklearn\utils\validation.py:71: FutureWarning: Pass fit_intercept=True, normalize=True as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)

array([0.78599896, 0.73249853, 0.73491249, 0.66880787, 0.77174242,
       0.78401994, 0.79314562, 0.66869189, 0.74242455, 0.76276472])

In [12]:
score = score.mean()
score

0.7445006998667602