In [79]:
import pandas as pd
import numpy as np

data = pd.read_csv('housing.csv')

In [80]:
#drop useless columns
data = data.drop(['longitude', 'latitude'], 1)
data.head()

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [82]:
x = data.drop('median_house_value', 1).values
y = data.median_house_value.values

In [83]:
#one hot encoding the categorical column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer([('encoder',OneHotEncoder(), [-1])], remainder='passthrough')
x = ct.fit_transform(x)

In [84]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.25)

In [86]:
from sklearn.pipeline import Pipeline 
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression

pipe = Pipeline([('imputer', SimpleImputer()), ('scaler', StandardScaler()), ('reg', LinearRegression())])
pipe.fit(X_train, Y_train)

Pipeline(steps=[('imputer', SimpleImputer()), ('scaler', StandardScaler()),
                ('reg', LinearRegression())])

In [87]:
score = pipe.score(X_test, Y_test)

In [88]:
score

0.6284751413885852