In [28]:
import pandas as pd
import numpy as np
data = pd.read_csv('housing_in_london_monthly_variables.csv')
data.head()

,date,area,average_price,code,houses_sold,no_of_crimes,borough_flag
0,1995-01-01,city of london,91449,E09000001,17.0,NaN,1
1,1995-02-01,city of london,82203,E09000001,7.0,NaN,1
2,1995-03-01,city of london,79121,E09000001,14.0,NaN,1
3,1995-04-01,city of london,77101,E09000001,7.0,NaN,1
4,1995-05-01,city of london,84409,E09000001,10.0,NaN,1

In [30]:
data = data.select_dtypes(exclude = ['object'])
col = data.columns
data.isnull().sum()

average_price       0
houses_sold        94
no_of_crimes     6110
borough_flag        0
dtype: int64

In [24]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(strategy='mean')
data = si.fit_transform(data)

data = pd.DataFrame(data, columns=col)
data.isnull().sum()

average_price    0
houses_sold      0
no_of_crimes     0
borough_flag     0
dtype: int64

In [25]:
x = data.drop('average_price', 1)
y = data.average_price

In [26]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import AdaBoostRegressor
from sklearn.model_selection import cross_val_score


result = cross_val_score(LinearRegression(), x, y, cv=15)

In [27]:
result

array([-6.25077417e-03, -2.65992412e-01,  2.12516303e-02, -2.40831495e-01,
       -1.09175582e-01, -5.78532324e-01, -3.57431630e-01, -1.58724204e-01,
       -2.32546465e-01, -1.42923969e-01, -3.27239192e-01, -1.36784852e-01,
       -3.63448060e+00, -2.67649225e-02, -1.91147268e+01])